.posts {
    width: 65%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.posts-dois {
    width: 70% !important;
    margin-left: 10px;
}
.item {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #abb2b8;
    margin: 5px;
    display: flex;
    align-items: center;
}

.psot-item {
    flex-direction: column;
    align-items: normal;
    background: #EDEEF0 !important;
}
.m-width-20 {
    display: flex;
    flex-wrap: 33.3%;
}
.body-text {
    padding-bottom: 20px;
    border-bottom: 1px solid #abb2b8;
}

.icn  {
    border: 1px solid #abb2b8;
    padding: 5px;
    border-radius: 15px;
}
.profile-foto:hover {
    transform: scale(1.5);
}
@media (max-width: 990px) {
    .posts {
        margin: auto;
        width: 80%;
    }
}
@media (max-width: 520px) {
    .posts {
        margin: auto;
        width: 90%;
    }
}